@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
  background: linear-gradient(to bottom, #F2F4F7, #E2E7F3) no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}

body, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  padding: 40px;
  min-height: 200px;
}

header.search {
  min-height: auto;
}

main {
  width: 100%;
  padding: 0 40px;
}

.apresentation-block strong, h1, input {
  font-family: 'Vollkorn', serif;
}

.container {
  padding: 0px 0 40px 0;
  margin: 0px auto;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}